<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.itl.c18131260.u3p03usowidgetsapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.U3P03UsoWidgetsApp">
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".AmpliarFotoActivity"
            android:exported="false" />
        <activity
            android:name=".SesionActivity"
            android:exported="false"/>
        <activity
            android:name=".NuevaSesionActivity"
            android:exported="false" />
        <activity
            android:name=".AcercaDeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>